/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body {
  background: #020617;
  color: #e5e7eb;
  font-family: 'VT323', monospace;
  margin: 0;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: #020617;
  border-bottom: 2px solid #1e293b;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  transition: 0.2s;
}

.navbar a:hover {
  color: #3b82f6;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 32px;
  color: #3b82f6;
}

.subtitle {
  font-size: 20px;
  margin-top: 20px;
}

.sub {
  color: #94a3b8;
}

/* HEADINGS */
h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  margin-bottom: 20px;
  color: #22c55e;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
}

/* CARDS */
.card {
  border: 2px solid #1e293b;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  background: #3b82f6;
  color: #020617;
  transform: translateX(8px);
}

/* LISTS */
ul {
  padding-left: 20px;
}
